*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 140vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #aec4ec,  #03176e);
}
.perfil{
    background-color: #fff;
    padding:60px;
    width: 400px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.perfil img {
    justify-content: center;
    width: 240px;
    height: 240px;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 30px;
    border: 5px solid #041472;
}
.perfil h2 {
    font-size: 40px;
    margin-bottom: 7px;
    color: #333;
}
.user{
    color: #888;
    margin-bottom:7px;
}
.bio{
    font-size: 16px;
    color: #555;
    margin-bottom: 7px;
}
.email{
    font-size: 14px;
    color: #2200ff;
    word-break: break-all;
}
.selection{
    padding: 60;
    margin: 15px;
    background-color: rgb(255, 255, 255);
    width: 650px;
    height: 300px;
    display: flex;
    justify-content: space;
    align-items: center;
}
.filha{
    width: 200px;
    height: 200px;
    background-color: rgb(223, 234, 247);
    border: 1px solid rgb(6, 22, 117);
}
.filha h2{
     text-align: center;
}
.filha p{
     text-align: center;
}